@import url(https://fonts.googleapis.com/css?family=Raleway);
body{
    color:rgb(0, 255, 0);
    background-color: #070324;
}

h1, h2{
    font-family: 'Raleway', sans-serif;
}

a{
    color: rgb(106, 98, 192);
}

ul{
    color: aquamarine;
}
.quals{
    border-collapse: collapse;
}
.quals th{
    border-bottom:3px solid #ccc;
    padding:5px;
}
.quals td{
    border-bottom:1px solid #ccc;
    padding:5px;
}